/*
ConnectWiseSellService

Version 1.0

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package connectwisesellapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// QuoteTabsAPIService QuoteTabsAPI service
type QuoteTabsAPIService service

type ApiGetQuoteItemsByTabIdRequest struct {
	ctx        context.Context
	ApiService *QuoteTabsAPIService
	id         string
}

func (r ApiGetQuoteItemsByTabIdRequest) Execute() ([]QuoteItemView, *http.Response, error) {
	return r.ApiService.GetQuoteItemsByTabIdExecute(r)
}

/*
GetQuoteItemsByTabId Method for GetQuoteItemsByTabId

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiGetQuoteItemsByTabIdRequest
*/
func (a *QuoteTabsAPIService) GetQuoteItemsByTabId(ctx context.Context, id string) ApiGetQuoteItemsByTabIdRequest {
	return ApiGetQuoteItemsByTabIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return []QuoteItemView
func (a *QuoteTabsAPIService) GetQuoteItemsByTabIdExecute(r ApiGetQuoteItemsByTabIdRequest) ([]QuoteItemView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []QuoteItemView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuoteTabsAPIService.GetQuoteItemsByTabId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/quoteTabs/{id}/quoteItems"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetQuoteTabsRequest struct {
	ctx             context.Context
	ApiService      *QuoteTabsAPIService
	showAllVersions *bool
	includeFields   *string
	conditions      *string
	page            *int32
	pageSize        *int32
}

// Set true for results from deleted or archived quotes. Set false to omit records from deleted or archive quotes. Defaults to true.
func (r ApiGetQuoteTabsRequest) ShowAllVersions(showAllVersions bool) ApiGetQuoteTabsRequest {
	r.showAllVersions = &showAllVersions
	return r
}

// Comma separated list of fields to return.
func (r ApiGetQuoteTabsRequest) IncludeFields(includeFields string) ApiGetQuoteTabsRequest {
	r.includeFields = &includeFields
	return r
}

// Conditional retrieve statements.
func (r ApiGetQuoteTabsRequest) Conditions(conditions string) ApiGetQuoteTabsRequest {
	r.conditions = &conditions
	return r
}

// Page of results to get. 1-index based.
func (r ApiGetQuoteTabsRequest) Page(page int32) ApiGetQuoteTabsRequest {
	r.page = &page
	return r
}

// Page size of results to get. Max size 1000, default 50.
func (r ApiGetQuoteTabsRequest) PageSize(pageSize int32) ApiGetQuoteTabsRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiGetQuoteTabsRequest) Execute() ([]QuoteTabView, *http.Response, error) {
	return r.ApiService.GetQuoteTabsExecute(r)
}

/*
GetQuoteTabs Method for GetQuoteTabs

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetQuoteTabsRequest
*/
func (a *QuoteTabsAPIService) GetQuoteTabs(ctx context.Context) ApiGetQuoteTabsRequest {
	return ApiGetQuoteTabsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []QuoteTabView
func (a *QuoteTabsAPIService) GetQuoteTabsExecute(r ApiGetQuoteTabsRequest) ([]QuoteTabView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []QuoteTabView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuoteTabsAPIService.GetQuoteTabs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/quoteTabs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.showAllVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "showAllVersions", r.showAllVersions, "", "")
	}
	if r.includeFields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeFields", r.includeFields, "", "")
	}
	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
