/*
ConnectWiseSellService

Version 1.0

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package connectwisesellapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// TaxCodeAPIService TaxCodeAPI service
type TaxCodeAPIService service

type ApiGetTaxCodesRequest struct {
	ctx           context.Context
	ApiService    *TaxCodeAPIService
	includeFields *string
	conditions    *string
	page          *int32
	pageSize      *int32
}

// Comma separated list of fields to return.
func (r ApiGetTaxCodesRequest) IncludeFields(includeFields string) ApiGetTaxCodesRequest {
	r.includeFields = &includeFields
	return r
}

// Conditional retrieve statements.
func (r ApiGetTaxCodesRequest) Conditions(conditions string) ApiGetTaxCodesRequest {
	r.conditions = &conditions
	return r
}

// Page of results to get. 1-index based.
func (r ApiGetTaxCodesRequest) Page(page int32) ApiGetTaxCodesRequest {
	r.page = &page
	return r
}

// Page size of results to get. Max size 1000, default 50.
func (r ApiGetTaxCodesRequest) PageSize(pageSize int32) ApiGetTaxCodesRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiGetTaxCodesRequest) Execute() ([]TaxCodeView, *http.Response, error) {
	return r.ApiService.GetTaxCodesExecute(r)
}

/*
GetTaxCodes Method for GetTaxCodes

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTaxCodesRequest
*/
func (a *TaxCodeAPIService) GetTaxCodes(ctx context.Context) ApiGetTaxCodesRequest {
	return ApiGetTaxCodesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []TaxCodeView
func (a *TaxCodeAPIService) GetTaxCodesExecute(r ApiGetTaxCodesRequest) ([]TaxCodeView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []TaxCodeView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TaxCodeAPIService.GetTaxCodes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/taxCodes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includeFields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeFields", r.includeFields, "", "")
	}
	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
